.loader {
  width: 60px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;

  @media screen and (max-width: 768px) {
    top: 75px;
  }

  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%,
  var(--_g) 50% 50%,
  var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}

.trade__popup {
  display: none;
  position: absolute;
  top: -63px;
  right: 100%;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 4px;
  width: 300px;
  text-align: center;
  color: white;
  animation: popup 1.5s linear;
  padding: 10px 15px;
  background-color: rgb(89, 87, 87);

}

@keyframes popup {
  0% {
    top: -17px;
    opacity: 0;
  }

  50% {
    opacity: 1;
    top: -63px;
  }

  100% {
    top: -63px;
  }
}


.likes__modal {
  display: none;
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.likes__modal-txt {
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  position: fixed;
  height: 100px;
  max-width: 400px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.likes__modal-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.likes__modal-open {
  display: block;
}